.progress-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4px;
    z-index: 8;
    background: transparent;
}
  
.progress-bar {
    height: 4px;
    background: $black;
    width: 0%;
}