.pop-up {
    overflow: auto;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: $orange;
    transition: 0.5s;

    &__back {
        width: 75px;
        height: 75px;
        position: relative;
        margin: 1rem;
        margin-left: auto;
        .circle {
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid $white;
            width: 75px;
            height: 75px;
            border-radius: 50%;
        }
        .circle-first {
            animation: circle1 1s infinite;
        }
        .circle-second {
            animation: circle2 1s infinite;
        }
        .circle-third {
            animation: circle3 1s infinite;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            height: 1px;
            background-color: $white;
            transform: translate(-50%, -50%) rotate(-45deg);
            animation: cross2 1s infinite;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            height: 1px;
            background-color: $white;
            transform: translate(-50%, -50%) rotate(45deg);
            animation: cross1 1s infinite;
        }
    }
    &__content-wrapper {
        padding: 1.5rem;
    }
    &__content {
        margin: 1rem 0;
        &--reverse {
            margin: 1rem 0;
        }
    }
}

@include lg {
    .pop-up {
        &__back {
            width: 150px;
            height: 150px;
            .circle {
                width: 150px;
                height: 150px;
            }
        }
        &__content-wrapper {
            padding: 0 5rem;
        }
        &__content {
            display: flex;
            justify-content: left;
            &:not(:first-of-type) {
                margin-top: 10rem;
            }
            &--reverse {
                display: flex;
                justify-content: right;
                margin-top: 10rem;
            }
            &-image {
                width: 70%;
            }
        }
    }
}