@keyframes buildings {
    from {
        stroke-dashoffset: 1350;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes line {
    0% {
        stroke-dashoffset: 600;
    }
    15% {
        stroke-dashoffset: 550;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        transform: translate(0, 20px);
    }
    100% {
        opacity: 0;
    }
}